{{!-- todos__item_complited --}}
<li class="todos__item">
  <form action="/delete/1" method="post" class="todos__item_form-delete">
    <input type="hidden" name="_id" value="1">
    <button type="submit" class="todos__item_button-action">
      <span class="material-symbols-outlined">
        delete
      </span>
    </button>
  </form>
  <form action="/complete/1" method="post" class="todos__item_form-todo">
    <input type="hidden" name="_id" value="1">
    <div class="todos__item_form-text">
      {{ name }} - {{ completed }}
    </div>
    <button type="submit" class="todos__item_button-action">
      <span class="material-symbols-outlined">
        circle
      </span>
    </button>
  </form>
</li>